* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lin {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    background-color: rgb(220, 216, 226);
    text-align: center;
    align-content: space-around;
    color: #0077b5;
    box-shadow: 0 0 5px black;
}
.lin a{
    display: block;
    text-decoration: none;
}
.head .name {
    padding: 20px 20px;
    background-color: rgb(212, 212, 212);
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 5px;
    position:sticky;
    top:0;
}

.head {
    box-shadow: 5px 0px 5px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main {
    width: 100%;
    height: 500px auto;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.main .left {
    flex: 50%;
    background-color: rgb(212, 212, 212);
}

.left span {
    font-size: 45px;
}

.left .but {
    margin-top: 35px;
}

.left .but a {
    padding: 15px 30px;
    color: #ffffff;
    background-color: blueviolet;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.left .wrap {
    padding: 200px 50px;
}

.main .right {
    flex: 50%;
    padding: 10px;
}

.right .img {
    height: 100%;
    width: 100%;
}

.img img {
    width: 100%;
    border-radius: 30px;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column-reverse;
    }

    .left .wrap {
        padding: 50px 10px;
    }

    .left span {
        font-size: 30px;
    }

    .left span {
        font-size: 25px;
    }

    .head .name {
        font-size: 18px;
    }
}
.skl{
    display: flex;
    background-color: rgb(238, 234, 229);

}
.skl .in {
    flex: 50%;
    font-size: 20px;
    height: auto;
    padding: 30px 20px;
}
.skl span{
    font-size: 18px;
}
.skl h3{
    color: blueviolet;
}
.skl .inr {
    flex: 50%;
    font-size: 20px;
    height: auto;
    padding: 30px 20px;
}
.inr ul{
    width: 50%;
    margin: auto;
    list-style-type: none;
    padding: 0;
}
.inr ul li{
    padding: 10px 0;
}
@media(max-width: 700px){
    .skl{
        flex-direction: column;
        text-align: center;
    }
    .skl .in,.inr{
        flex: 100%;
    }
    .inr ul{
        width:100%;
}
.foot{
    height: 20px;
    width: 100%;
    text-align: center;
    line-height:20px;
    background-color: blueviolet;
    color: white;
}
