*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
}
.cont{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont .cal{
  width: 350px;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 3px lightgray;
}
.cal input{
  height: 100px;
  width: 100%;
  font-size: 30px;
  border: 1px solid #f1f1f1;
  outline: 0;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  padding: 5px;
  margin-bottom: 10px;
}
.cal div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cal .but1 input{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 100%;
  font-size: 20px;
  border: 0;
  background-color: #fefefe;
  color: #f37805;
  box-shadow: -2px -2px 4px rgba(197, 193, 193, 0.5);
}
.cal .but1 input.beq{
  background-color: #f37805;
  color: #fff;
}
.cal .but1 input.oper{
  color: rgb(238, 30, 176);
}
.cal .but1 input.de, .but1 input.beq{
  width: calc(70px*2);
  border-radius: 25px;
}
.cal .but1 input:active{
  transform: scale(90%);
}
@media (max-width:700px) {
  .cont .cal{
    width: 100%;
    height: 100vh;
  }
  
}
